*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
[class*="col-"]{
    float: left;
    /*border: 1px solid #000000;*/
}
.col-1{ width: 8.33%;}
.col-2{ width: 16.66%;}
.col-3{ width: 25%;}
.col-4{ width: 33.33%;}
.col-5{ width: 41.66%;}
.col-6{ width: 50%;}
.col-7{ width: 58.33%;}
.col-8{ width: 66.66%;}
.col-9{ width: 75%;}
.col-10{ width: 83.33%;}
.col-11{ width: 91.66%;}
.col-12{ width: 100%;}

@media only screen and (max-width: 600px) {
    body {
        background-color: #000000;
    }
}
.container{
    width: 80%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
ul{
    list-style-type: none;
}
ul li{
    display: inline;
    display: inline-block;

}
.menue-header{

}
.menue-header li{
    background-color: #000000;
}
.menue-header li a {
    background-color: darkturquoise;
    color: #ffffff;
    padding-top: 10px;
    display: block;
}
.row:after{
    content: '';
    display: block;
    clear: both;
}
.logo,.banner{
    height: 50px;
    background-color: bisque;
}
.banner{
    background-color: #efeee7;
}
.menue{
    height: 40px;
    background-color:azure;
}
.sidebar,.content{
    height: 700px;
    background-color: cornsilk;
}
.content{
    background-color: #efeee7;
}
.footer{
    height: 60px;
    background-color: cyan;
}
body{
    background-color: aliceblue;
}








